addresses => shared table
focus on api partr
controllers
1 or 2 controllers (whatever going to connect with that 
everythng you know like how many endpoionts to be created what is the ui what table used etc)
(don't start with aut)
decide what modules actions are going to be there 
you should understand acc. to your controller

monolithic app.
scalability
design your controllers. 